.cart-slide {
  position: fixed;
  right: 0;
  top: 0;
  min-width: min(80vw, 500px);
  height: 100%;
  background: var(--main-white);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  margin: 0;
}

body.cart-open .cart-slide {
  transform: translateX(0);
}

.cart-slide ul {
  list-style: none;
  padding: 1.25rem;
}

.cart-slide li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.cart-slide img {
  width: 80px;
  height: auto;
}

.cart-slide .close-cart {
  color: var(--main-dark);
  background: none;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cart {
  position: relative;
  display: flex;
}

.trash-btn,
.cart-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--main-dark);
  align-self: end;
  font-size: 1.5rem;
  margin: 1rem;
  margin-right: 1rem;
  place-self: auto;
}

.cart-count {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  background-color: white;
  color: grey;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  border: 1px solid grey;
  text-align: center;
}

@media (min-width: 768px) {
  .cart-slide img {
    width: 50px;
  }
}
