.cart-slide {
  position: fixed;
  right: 0;
  top: 0;
  width: 80vw;
  max-width: 500px;
  height: fit-content;
  background: var(--main-white);
  border: 1px solid var(--main-pink);
  border-radius: 5px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}

.cart-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

body.cart-open .cart-slide {
  transform: translateX(0);
}

.cart-logo {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.cart-container ul {
  list-style: none;
  padding: 1rem 0.5rem;
  flex-grow: 1;
}

.cart-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.item-name {
  font-size: 0.8rem;
  color: var(--main-dark);
}

.qty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-qty {
  font-size: 0.8rem;
  color: var(--main-dark);
}

.cart-img {
  width: 50px;
  height: auto;
  border-radius: 10px;
}

.item-img {
  width: 50px;
  height: auto;
  border-radius: 10px;
}

.cart-container .close-cart {
  color: var(--main-dark);
  background: none;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 0;
}

.cart {
  display: flex;
}

.checkout-btn {
  min-width: 15rem;
  background-color: var(--main-pink);
  color: var(--main-dark);
  border: 1px solid var(--main-dark);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem auto;
  place-self: end;
}

.checkout-btn:hover {
  background-color: var(--main-dark);
  color: var(--main-white);
}

.empty-text {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem auto;
}

.trash-btn,
.cart-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--main-dark);
  font-size: 1.5rem;
  place-self: auto;
}

.cart-count {
  background-color: white;
  color: grey;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  border: 1px solid grey;
  text-align: center;
  place-self: start;
  margin-left: -12px;
  margin-top: -11px;
}

@media (min-width: 768px) {
  .cart-slide ul {
    list-style: none;
    padding: 1.25rem;
  }
  .item-name {
    font-size: 1.2rem;
    color: var(--main-dark);
  }
  .cart-img {
    width: 80px;
  }
  .item-img {
    width: 80px;
  }
}
