@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
  --main-pink: #ffc0cb;
  --main-dark: #4e4e4e;
  --secondary-dark: #666;
  --main-white: #f5f5f5;
}
* {
  box-sizing: border-box;
}

html,
body {
  max-width: 1500px;
  font-family: var(--main-font);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

main {
  flex-grow: 1;
}
