---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/NavHeader.astro";
import Hero from "../components/HeroHeader.astro";
import ProductGallery from "../components/ProductGallery.astro";
---

<Layout title="AK Beauty Online Shop">
  <Nav />
  <main>
    <Hero />
    <ProductGallery />
  </main>
</Layout>
