---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ProductGallery from "../components/ProductGallery.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="AK Boutique Online Shop"
  description="Discover the latest trends at Poland's premier fashion destination! Shop our exclusive collection of stylish apparel and accessories for every occasion. Elevate your wardrobe with top-quality, fashionable pieces. Fast shipping across Poland. Shop now and embrace your unique style!"
>
  <Nav />
  <main>
    <Hero />
    <ProductGallery />
  </main>
  <Footer />
</Layout>
