---
import Layout from "../layouts/Layout.astro";
import ProductGallery from "../components/ProductGallery.astro";
import ComingSoon from "../components/ComingSoon.astro";
---

<Layout
  title="AK Boutique - Sklep Online | Odkryj Najnowsze Trendy"
  description="Odkryj najnowsze trendy w czołowym miejscu mody w Polsce! Zakupy online kolekcji stylowych ubrań i akcesoriów na każdą okazję. Podnieś swoją garderobę dzięki modnym i wysokiej jakości produktom. Szybka wysyłka w całej Polsce. Kup teraz i wyraź swój unikatowy styl!"
>
  <main>
    <!-- <ProductGallery /> -->
    <ComingSoon />
  </main>
</Layout>
