---
import { Image } from "astro:assets";
import pinkLogo from "../images/logo_pink.png";
---

<div class="container">
  <div class="hero">
    <Image class="logo" src={pinkLogo} alt="logo" width="100" height="100" />
    <div class="cart">
      <a href="#">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-count" id="cart-count">0</span>
      </a>
    </div>
  </div>
</div>
<style>
  .container {
    margin-bottom: 2rem;
    padding-top: 100px;
  }
  .hero {
    max-width: 1500px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-pink);
    height: 100px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-image {
    flex-grow: 1;
    text-align: center;
  }

  .hero-image img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: overlay;
  }

  .cart {
    position: relative;
    display: flex;
  }

  .hero .cart a {
    color: var(--main-dark);
    align-self: end;
    font-size: 1.5rem;
    margin: 1rem;
    margin-right: 3rem;
  }

  .cart-count {
    position: absolute;
    top: 0.2rem;
    right: 2rem;
    background-color: white;
    color: grey;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
    border: 1px solid grey;
  }
</style>
