---

---

<section class="hero">
  <div class="hero-content">
    <!-- Content can be added here if needed -->
  </div>
  <!-- <img src="images/logo.png" alt="header photo" class="logo" /> -->
</section>

<style>
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(255, 192, 203, 0.3),
        rgba(255, 192, 203, 0.3)
      ),
      url("/images/bck.jpg"); /* Adding a pink color overlay */
    background-blend-mode: multiply; /* Blends the background color and the image */
    background-position: left;
    background-size: cover;
    height: 200px;
  }

  .logo {
    width: 200px;
  }
</style>
