---

---

<div class="container">
  <div class="hero">
    <img src="/images/logo.png" alt="logo" width="100" height="100" />
    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
  </div>
</div>
<style>
  .container {
    margin-bottom: 2rem;
    padding-top: 100px;
  }
  .hero {
    max-width: 1500px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-pink);
    height: 100px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero a {
    color: var(--main-dark);
    align-self: end;
    font-size: 1.5rem;
    margin: 1rem;
    margin-right: 3rem;
  }
</style>
